<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for p in pages -%}
<url><loc>{{ p.canonical }}</loc>{% if p.lastmod %}<lastmod>{{ p.lastmod }}</lastmod>{% endif %}<priority>0.6</priority></url>
{% endfor -%}
</urlset>
