<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for kraj in krajse -%}
<sitemap><loc>{{ site_base }}sitemap-{{ kraj.slug }}.xml</loc><lastmod>{{ build_date }}</lastmod></sitemap>
{% endfor -%}
</sitemapindex>
